*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.container1{
    width: 50%;
    margin: 100px auto;
}
.container2{
    width: 50%;
    margin: 180px auto;
}
.number1{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.number2{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 685px;
}
h2,h1{
    text-align: center;
}
h1{
    background-color: rgb(67, 67, 67);
}
label,input{
    margin: auto;
}
button{
    border: none;
    font-size: 30px;
    padding: 5px;
    width: 400px;
    margin-left: 180px;
    color: white;
    background-color: purple;
    border-radius: 5px;
    box-shadow: 0px 1px 8px black;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(23, 11, 34);
}
label{
    font-size: 30px;
}
input{
    font-size: 20px;
    padding: 10px;
    background-color: palevioletred;
    color: white;
    font-weight: bold;
}
input:hover{
    background-color: rgb(151, 38, 75);
}

@media all and (max-width:376px) {
    button{
        font-size: 20px;
        width: 100px;
        margin: auto;
        margin-left: 103px;
    }
    .container1{
        width: 300px;
        margin: 75px auto;
    }
    .container2{
        width: 300px;
        margin: 150px auto;
    }
    .number1{
        width: 100px;
        margin: auto;
        margin-top: 30px;
        margin-right: 160px;
    }
    .number2{
        width: 100px;
        margin: auto;
        margin-top: 30px;
        margin-right: 160px;
    }
    input{
        font-size: 10px;
        padding: 3px;
        background-color: palevioletred;
        color: white;
        font-weight: bold;
        margin: 20px;
    }
    label{
        font-size: 10px;
        font-weight: bold;
    }
}